name: animated_card_stack
description: "A highly customizable Flutter widget that renders an interactive, animated stack of cards. Features smooth swipe-to-cycle animations and flexible builders."
version: 0.1.3
repository: https://github.com/siker102/animated_card_stack
homepage: https://github.com/siker102/animated_card_stack

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  vector_math: ^2.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true



